@use "../globals" as *;
@use "../Base/base" as *;

.contact {
    @extend .mb-lg;

    border: 1.5px solid $cBgGray;
    border-radius: 5px;
    padding: 50px 0;

    &__title {
        margin: 60px 0 80px;
    }

    &__form {
        @extend .flex;
        flex-direction: column;
        margin: auto;
        @include mq(md) {
            width: 460px;
        }
    }
    &__item {
        @extend .flex;
        flex-direction: column;
        margin-bottom: 40px;
        @include mq(md) {
            display: block;
        }
    }
    &__label {
        text-align: left;
        width: 100px;
        margin: 5px 0;
        border-left: 3px solid $colorPrimary;
        padding-left: 10px;
        @include mq(md) {
            float: left;
        }
    }

    &__inputs {
        border: 2px solid $cBlack;
        width: 280px;
        padding: 15px;
        border-radius: 5px;
    }

    & textarea {
        border: 2px solid $cBlack;
        border-radius: 5px;
        padding: 10px;
        height: 150px;
        width: 280px;
        font-size: 15px;
    }
}

.confirm {
    margin-bottom: 0;
    text-align: center;
}

.confirmation {
    border-top: 2px solid $cBlack;
    background-color: #fffdfa;
    &__box {
        @extend .content-width;
        text-align: center;
        padding: 50px 0;
    }

    &__text {
        margin: 50px;
    }
    &__btn {
        box-shadow: 5px 5px 10px 0 rgba(62, 61, 61, 0.5);
        transition: 0.5s;
        &:hover {
            background-color: $cBlack;
            color: $cWhite;
        }
    }
}
