@use "../globals" as *;

#header {
    background-color: $cWhite;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__menuOpen {
    & #container {
        transform: translate(-150px, 60px);
        box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
    }

    & .menuMobile {
        &__cover {
            opacity: 1;
            visibility: visible;
        }
        &__item {
            transform: none;
            opacity: 1;
            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    transition-delay: $i * 0.07s;
                }
            }
        }
        &__btn {
            & > span {
                &:nth-child(1) {
                    transform: translateY(12px) rotate(135deg);
                }
                &:nth-child(2) {
                    visibility: hidden;
                }
                &:nth-child(3) {
                    transform: translateY(-12px) rotate(-135deg);
                }
            }
        }
    }
}

.menuMobile {
    position: fixed;
    right: 0;
    top: 60px;
    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s;
    }
    &__main {
        perspective: 2000px;
        transform-style: preserve-3d;
    }
    &__item {
        display: block;
        transform: translate3d(0, 0, -1000px);
        padding: 0 40px;
        transition: transform 0.3s, opacity 0.2s;
        opacity: 0;
    }
    &__link {
        display: block;
        margin-top: 30px;
        color: $cBlack;
    }
    &__btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: 10px;

        & > span {
            background-color: $cBlack;
            width: 35px;
            height: 3px;
            display: block; //spanはインラインなのでblockに設定する
            margin-bottom: 9px;
            transition: transform 0.5s;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}
