@use "../globals" as *;
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
}
a {
    text-decoration: none;
    color: $cBlack;
}
img {
    width: 100%;
    object-fit: cover;
}
li {
    list-style: none;
}
body {
    font-family: "Lusitana", "Times New Roman", "Noto Sans JP", sans-serif;
}

// font
.font-sm {
    font-size: 10px;
    @include mq(sm) {
        font-size: 12px;
    }
    @include mq(md) {
        font-size: 15px;
    }
    @include mq(lg) {
        font-size: 19px;
    }
}
.font-md {
    font-size: 14px;
    @include mq(sm) {
        font-size: 16px;
    }
    @include mq(md) {
        font-size: 17px;
    }
    @include mq(lg) {
        font-size: 19px;
    }
    letter-spacing: 0.03em;
    line-height: 1.5;
}
.font-lr {
    font-size: 17px;

    @include mq(lg) {
        font-size: 23px;
    }
}
.font-lg {
    font-size: 25px;

    @include mq(lg) {
        font-size: 30px;
    }
}

.main-title {
    @extend .font-lg;
    font-weight: 600;
    display: block;
    color: black;
}

.sub-title {
    @extend .font-md;
    font-weight: 400;
    display: block;
}

.content-width {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
.flex {
    display: flex;
    flex-direction: column;
    @include mq(md) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.mb-sm {
    margin-bottom: 16px;
}

.mb-md {
    margin-bottom: 50px;
    @include mq(md) {
        margin-bottom: 70px;
    }
    @include mq(lg) {
        margin-bottom: 90px;
    }
}

.mb-lg {
    margin-bottom: 80px;
    @include mq(lg) {
        margin-bottom: 150px;
    }
}

.pb-sm {
    padding-bottom: 16px;
}

.pb-lg {
    padding-bottom: 80px;
    @include mq(lg) {
        padding-bottom: 150px;
    }
}
