#header {
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__menuOpen #container {
  transform: translate(-150px, 60px);
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}
.header__menuOpen .menuMobile__cover {
  opacity: 1;
  visibility: visible;
}
.header__menuOpen .menuMobile__item {
  transform: none;
  opacity: 1;
}
.header__menuOpen .menuMobile__item:nth-child(1) {
  transition-delay: 0.07s;
}
.header__menuOpen .menuMobile__item:nth-child(2) {
  transition-delay: 0.14s;
}
.header__menuOpen .menuMobile__item:nth-child(3) {
  transition-delay: 0.21s;
}
.header__menuOpen .menuMobile__btn > span:nth-child(1) {
  transform: translateY(12px) rotate(135deg);
}
.header__menuOpen .menuMobile__btn > span:nth-child(2) {
  visibility: hidden;
}
.header__menuOpen .menuMobile__btn > span:nth-child(3) {
  transform: translateY(-12px) rotate(-135deg);
}

.menuMobile {
  position: fixed;
  right: 0;
  top: 60px;
}
.menuMobile__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}
.menuMobile__main {
  perspective: 2000px;
  transform-style: preserve-3d;
}
.menuMobile__item {
  display: block;
  transform: translate3d(0, 0, -1000px);
  padding: 0 40px;
  transition: transform 0.3s, opacity 0.2s;
  opacity: 0;
}
.menuMobile__link {
  display: block;
  margin-top: 30px;
  color: black;
}
.menuMobile__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.menuMobile__btn > span {
  background-color: black;
  width: 35px;
  height: 3px;
  display: block;
  margin-bottom: 9px;
  transition: transform 0.5s;
}
.menuMobile__btn > span:last-child {
  margin-bottom: 0px;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  animation-name: loaderBack;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 0;
}
.loader__bloc {
  margin: auto;
  width: 60px;
  height: 60px;
  text-align: center;
  letter-spacing: -2px;
}
.loader__bloc > div {
  width: 6px;
  height: 50px;
  display: inline-block;
  animation-name: loader;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 2;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.loader__bloc > div:nth-child(1) {
  animation-delay: -2.9s;
}
.loader__bloc > div:nth-child(2) {
  animation-delay: -2.7s;
}
.loader__bloc > div:nth-child(3) {
  animation-delay: -2.5s;
}
.loader__bloc > div:nth-child(4) {
  animation-delay: -2.3s;
}
.loader__bloc > div:nth-child(5) {
  animation-delay: -2.1s;
}
.loader__bloc > div:nth-child(6) {
  animation-delay: -1.9s;
}
.loader__bloc > div:nth-child(-n+2) {
  background-color: #884898;
}
.loader__bloc > div:nth-child(n+3) {
  background-color: #a2aad4;
}
.loader__bloc > div:nth-child(n+5) {
  background-color: #be9fb2;
}

.coverSlide {
  position: relative;
  overflow: hidden;
}
.coverSlide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 61, 125, 0.1);
  opacity: 0;
}
.coverSlide.inview::after {
  opacity: 1;
  animation-name: coverSlide;
  animation-duration: 1.6s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

.imgZoom {
  opacity: 0;
}
.inview .imgZoom {
  opacity: 1;
  transition: transform 0.3s ease;
  animation-name: imgShow;
  animation-duration: 1.6s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.inview .imgZoom:hover {
  transform: scale(1.05);
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.hoverDarken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: background-color 0.3s ease;
  pointer-events: none;
}
.hoverDarken:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

#globalContainer {
  text-align: center;
}

#container {
  position: relative;
  height: 100vh;
  z-index: 2;
  transition: all 0.5s;
}

.textAnimationName {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 480px) {
  .textAnimationName {
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) {
  .textAnimationName {
    font-size: 30px;
  }
}
@media screen and (min-width: 960px) {
  .textAnimationName {
    font-size: 36px;
  }
}

.textAnimation {
  letter-spacing: 0.05em;
  font-size: 11px;
  margin: 4% 0 6%;
}
@media screen and (min-width: 480px) {
  .textAnimation {
    font-size: 14px;
  }
}
@media screen and (min-width: 600px) {
  .textAnimation {
    font-size: 19px;
  }
}
@media screen and (min-width: 960px) {
  .textAnimation {
    font-size: 21px;
  }
}

.p {
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

.btn {
  background-color: white;
  color: black;
  margin: 50px 0;
  padding: 10px 40px;
  font-weight: 600;
  border: 2px solid black;
  transition: all 0.3s;
  z-index: 1;
}
.btn.slid-bg {
  position: relative;
  overflow: hidden;
}
.btn.slid-bg::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: -1;
}
.btn.slid-bg:hover {
  color: white;
}
.btn.slid-bg:hover::before {
  transform: none;
}

.main__img {
  position: relative;
}
.main__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.main__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
}
.main__p {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: whitesmoke;
  letter-spacing: 0.05em;
}
.main__burner {
  width: 100%;
}

.about,
.works {
  text-align: left;
}

.works__item {
  flex-basis: 48%;
}
.works__title {
  color: red;
  margin: 5px 0;
}

@keyframes loader {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
@keyframes loaderBack {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes coverSlide {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.1% {
    transform-origin: right;
    transform: scaleX(1);
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
@keyframes imgShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  list-style: none;
}

body {
  font-family: "Lusitana", "Times New Roman", "Noto Sans JP", sans-serif;
}

.font-sm {
  font-size: 10px;
}
@media screen and (min-width: 480px) {
  .font-sm {
    font-size: 12px;
  }
}
@media screen and (min-width: 600px) {
  .font-sm {
    font-size: 15px;
  }
}
@media screen and (min-width: 960px) {
  .font-sm {
    font-size: 19px;
  }
}

.font-md, .sub-title {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.5;
}
@media screen and (min-width: 480px) {
  .font-md, .sub-title {
    font-size: 16px;
  }
}
@media screen and (min-width: 600px) {
  .font-md, .sub-title {
    font-size: 17px;
  }
}
@media screen and (min-width: 960px) {
  .font-md, .sub-title {
    font-size: 19px;
  }
}

.font-lr {
  font-size: 17px;
}
@media screen and (min-width: 960px) {
  .font-lr {
    font-size: 23px;
  }
}

.font-lg, .main-title {
  font-size: 25px;
}
@media screen and (min-width: 960px) {
  .font-lg, .main-title {
    font-size: 30px;
  }
}

.main-title {
  font-weight: 600;
  display: block;
}

.sub-title {
  font-weight: 400;
  display: block;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.flex {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.mb-sm {
  margin-bottom: 16px;
}

.mb-md {
  margin-bottom: 20px;
}
@media screen and (min-width: 600px) {
  .mb-md {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 960px) {
  .mb-md {
    margin-bottom: 60px;
  }
}

.mb-lg {
  margin-bottom: 80px;
}
@media screen and (min-width: 960px) {
  .mb-lg {
    margin-bottom: 150px;
  }
}

.pb-sm {
  padding-bottom: 16px;
}

.pb-lg {
  padding-bottom: 80px;
}
@media screen and (min-width: 960px) {
  .pb-lg {
    padding-bottom: 150px;
  }
}/*# sourceMappingURL=style.css.map */