@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  list-style: none;
}

body {
  font-family: "Lusitana", "Times New Roman", "Noto Sans JP", sans-serif;
}

.jp {
  font-family: "Noto Sans JP";
}

.font-sm {
  font-size: 13px;
}
@media screen and (min-width: 480px) {
  .font-sm {
    font-size: 14px;
  }
}
@media screen and (min-width: 600px) {
  .font-sm {
    font-size: 15px;
  }
}
@media screen and (min-width: 960px) {
  .font-sm {
    font-size: 19px;
  }
}

.font-md, .about__p, .works__title, .sub-title {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.5;
}
@media screen and (min-width: 480px) {
  .font-md, .about__p, .works__title, .sub-title {
    font-size: 16px;
  }
}
@media screen and (min-width: 600px) {
  .font-md, .about__p, .works__title, .sub-title {
    font-size: 17px;
  }
}
@media screen and (min-width: 960px) {
  .font-md, .about__p, .works__title, .sub-title {
    font-size: 19px;
  }
}

.font-lr {
  font-size: 17px;
}
@media screen and (min-width: 960px) {
  .font-lr {
    font-size: 23px;
  }
}

.font-lg, .main-title {
  font-size: 25px;
}
@media screen and (min-width: 960px) {
  .font-lg, .main-title {
    font-size: 30px;
  }
}

.main-title {
  font-weight: 600;
  display: block;
  color: black;
}

.sub-title {
  font-weight: 400;
  display: block;
}

.content-width, .main__box, .header__inner, .footer__container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.flex, .footer__container, .footer__nav, .footer__ul {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .flex, .footer__container, .footer__nav, .footer__ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.mb-sm, .about__img, .footer__container {
  margin-bottom: 16px;
}

.mb-md, .about__title, .works__item {
  margin-bottom: 50px;
}
@media screen and (min-width: 600px) {
  .mb-md, .about__title, .works__item {
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 960px) {
  .mb-md, .about__title, .works__item {
    margin-bottom: 90px;
  }
}

.mb-lg, .main__img, .about,
.works {
  margin-bottom: 80px;
}
@media screen and (min-width: 960px) {
  .mb-lg, .main__img, .about,
  .works {
    margin-bottom: 150px;
  }
}

.pb-sm {
  padding-bottom: 16px;
}

.pb-lg {
  padding-bottom: 80px;
}
@media screen and (min-width: 960px) {
  .pb-lg {
    padding-bottom: 150px;
  }
}

.footer {
  padding: 20px 0;
  color: white;
  background-color: black;
}
.footer__container {
  align-items: center;
  justify-content: space-between;
  color: white;
}
.footer__nav {
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.footer__ul {
  justify-content: space-around;
}
.footer__li {
  margin: 10px;
  padding: 10px;
  color: white;
}
.footer__copylight {
  font-size: 12px;
}

.logo {
  width: 120px;
}
@media screen and (min-width: 600px) {
  .logo {
    width: 150px;
  }
}
.logo__img {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  background-color: white;
  height: 80px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 80px;
}
@media screen and (min-width: 600px) {
  .header__logo {
    width: 100px;
  }
}
.header__nav {
  display: none;
}
@media screen and (min-width: 960px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
  }
}
.header__ul {
  display: flex;
  align-items: center;
}
.header__li {
  position: relative;
  margin: 10px;
  padding: 10px;
  transition: all 0.3s;
}
.header__li::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #000000;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
  transition: transform 0.3s; /*変形の時間*/
}
.header__li:hover {
  color: #884898;
}
.header__li:hover::after {
  transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}
.header__btn {
  margin-left: 20px;
}

.header__menuOpen #container {
  transform: translate(-150px, 60px);
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}
.header__menuOpen .menuMobile__cover {
  opacity: 1;
  visibility: visible;
}
.header__menuOpen .menuMobile__item {
  transform: none;
  opacity: 1;
}
.header__menuOpen .menuMobile__item:nth-child(1) {
  transition-delay: 0.07s;
}
.header__menuOpen .menuMobile__item:nth-child(2) {
  transition-delay: 0.14s;
}
.header__menuOpen .menuMobile__item:nth-child(3) {
  transition-delay: 0.21s;
}
.header__menuOpen .menuMobile__btn > span:nth-child(1) {
  transform: translateY(12px) rotate(135deg);
}
.header__menuOpen .menuMobile__btn > span:nth-child(2) {
  visibility: hidden;
}
.header__menuOpen .menuMobile__btn > span:nth-child(3) {
  transform: translateY(-12px) rotate(-135deg);
}

.menuMobile {
  position: fixed;
  right: 0;
  top: 60px;
}
.menuMobile__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}
.menuMobile__main {
  perspective: 2000px;
  transform-style: preserve-3d;
}
.menuMobile__item {
  display: block;
  transform: translate3d(0, 0, -1000px);
  padding: 0 40px;
  transition: transform 0.3s, opacity 0.2s;
  opacity: 0;
}
.menuMobile__link {
  display: block;
  margin-top: 30px;
  color: black;
}
.menuMobile__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}
@media screen and (min-width: 960px) {
  .menuMobile__btn {
    display: none;
  }
}
.menuMobile__btn > span {
  background-color: black;
  width: 35px;
  height: 3px;
  display: block;
  margin-bottom: 9px;
  transition: transform 0.5s;
}
.menuMobile__btn > span:last-child {
  margin-bottom: 0px;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  animation-name: loaderBack;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 0;
}
.loader__bloc {
  margin: auto;
  width: 60px;
  height: 60px;
  text-align: center;
  letter-spacing: -2px;
}
.loader__bloc > div {
  width: 6px;
  height: 50px;
  display: inline-block;
  animation-name: loader;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 2;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.loader__bloc > div:nth-child(1) {
  animation-delay: -2.9s;
}
.loader__bloc > div:nth-child(2) {
  animation-delay: -2.7s;
}
.loader__bloc > div:nth-child(3) {
  animation-delay: -2.5s;
}
.loader__bloc > div:nth-child(4) {
  animation-delay: -2.3s;
}
.loader__bloc > div:nth-child(5) {
  animation-delay: -2.1s;
}
.loader__bloc > div:nth-child(6) {
  animation-delay: -1.9s;
}
.loader__bloc > div:nth-child(-n+2) {
  background-color: #884898;
}
.loader__bloc > div:nth-child(n+3) {
  background-color: #a2aad4;
}
.loader__bloc > div:nth-child(n+5) {
  background-color: #be9fb2;
}

.coverSlide {
  position: relative;
  overflow: hidden;
}
.coverSlide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 61, 125, 0.1);
  opacity: 0;
}
.coverSlide.inview::after {
  opacity: 1;
  animation-name: coverSlide;
  animation-duration: 1.6s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

.imgZoom {
  opacity: 0;
}
.inview .imgZoom {
  opacity: 1;
  transition: transform 0.3s ease;
  animation-name: imgShow;
  animation-duration: 1.6s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.inview .imgZoom:hover {
  transform: scale(1.05);
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.hoverDarken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: background-color 0.3s ease;
  pointer-events: none;
  border-radius: 1%;
}
.hoverDarken:hover::before {
  background-color: rgba(138, 135, 135, 0.4);
}

.animate-title,
.tween-animate {
  opacity: 0;
}
.animate-title.inview,
.tween-animate.inview {
  opacity: 1;
}
.animate-title.inview .char,
.tween-animate.inview .char {
  display: inline-block;
}
.animate-title .char,
.tween-animate .char {
  opacity: 0;
}

.animate-title.inview .char {
  animation-name: animate-chars;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}
.animate-title.inview .char:nth-child(1) {
  animation-delay: 0.04s;
}
.animate-title.inview .char:nth-child(2) {
  animation-delay: 0.08s;
}
.animate-title.inview .char:nth-child(3) {
  animation-delay: 0.12s;
}
.animate-title.inview .char:nth-child(4) {
  animation-delay: 0.16s;
}
.animate-title.inview .char:nth-child(5) {
  animation-delay: 0.2s;
}
.animate-title.inview .char:nth-child(6) {
  animation-delay: 0.24s;
}
.animate-title.inview .char:nth-child(7) {
  animation-delay: 0.28s;
}
.animate-title.inview .char:nth-child(8) {
  animation-delay: 0.32s;
}
.animate-title.inview .char:nth-child(9) {
  animation-delay: 0.36s;
}
.animate-title.inview .char:nth-child(10) {
  animation-delay: 0.4s;
}
.animate-title.inview .char:nth-child(11) {
  animation-delay: 0.44s;
}
.animate-title.inview .char:nth-child(12) {
  animation-delay: 0.48s;
}
.animate-title.inview .char:nth-child(13) {
  animation-delay: 0.52s;
}
.animate-title.inview .char:nth-child(14) {
  animation-delay: 0.56s;
}
.animate-title.inview .char:nth-child(15) {
  animation-delay: 0.6s;
}
.animate-title.inview .char:nth-child(16) {
  animation-delay: 0.64s;
}
.animate-title.inview .char:nth-child(17) {
  animation-delay: 0.68s;
}
.animate-title.inview .char:nth-child(18) {
  animation-delay: 0.72s;
}
.animate-title.inview .char:nth-child(19) {
  animation-delay: 0.76s;
}
.animate-title.inview .char:nth-child(20) {
  animation-delay: 0.8s;
}
.animate-title.inview .char:nth-child(21) {
  animation-delay: 0.84s;
}
.animate-title.inview .char:nth-child(22) {
  animation-delay: 0.88s;
}
.animate-title.inview .char:nth-child(23) {
  animation-delay: 0.92s;
}
.animate-title.inview .char:nth-child(24) {
  animation-delay: 0.96s;
}
.animate-title.inview .char:nth-child(25) {
  animation-delay: 1s;
}
.animate-title.inview .char:nth-child(26) {
  animation-delay: 1.04s;
}
.animate-title.inview .char:nth-child(27) {
  animation-delay: 1.08s;
}
.animate-title.inview .char:nth-child(28) {
  animation-delay: 1.12s;
}
.animate-title.inview .char:nth-child(29) {
  animation-delay: 1.16s;
}
.animate-title.inview .char:nth-child(30) {
  animation-delay: 1.2s;
}

.btn {
  background-color: white;
  color: black;
  margin: 50px 0;
  padding: 16px 40px;
  font-weight: 600;
  transition: all 0.3s;
  z-index: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.btn.slid-bg {
  position: relative;
  overflow: hidden;
}
.btn.slid-bg::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: -1;
}
.btn.slid-bg:hover {
  color: white;
}
.btn.slid-bg:hover::before {
  transform: none;
}
.btn.reverse-slid-bg {
  position: relative;
  overflow: hidden;
  background-color: black;
  color: white;
}
.btn.reverse-slid-bg::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: -1;
}
.btn.reverse-slid-bg:hover {
  color: black;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.btn.reverse-slid-bg:hover::before {
  transform: none;
}

#globalContainer {
  text-align: center;
}

#container {
  position: relative;
  height: 100vh;
  z-index: 2;
  transition: all 0.5s;
  transition: transform 0.5s;
}

.textAnimationName {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 480px) {
  .textAnimationName {
    font-size: 26px;
  }
}
@media screen and (min-width: 600px) {
  .textAnimationName {
    font-size: 30px;
  }
}
@media screen and (min-width: 960px) {
  .textAnimationName {
    font-size: 36px;
  }
}

.textAnimation {
  letter-spacing: 0.05em;
  font-size: 14px;
  margin: 4% 0 6%;
}
@media screen and (min-width: 480px) {
  .textAnimation {
    font-size: 17px;
  }
}
@media screen and (min-width: 600px) {
  .textAnimation {
    font-size: 19px;
  }
}
@media screen and (min-width: 960px) {
  .textAnimation {
    font-size: 21px;
  }
}

.p {
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

.main__img {
  position: relative;
}
.main__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.main__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
}
.main__p {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: whitesmoke;
  letter-spacing: 0.05em;
}
.main__burner {
  width: 100%;
}

.about,
.works {
  text-align: left;
}

.about {
  text-align: center;
}
@media screen and (min-width: 960px) {
  .about__box {
    display: flex;
    justify-content: space-around;
  }
}
.about__inner {
  background-color: #eaebe6;
  padding: 15px;
}
@media screen and (min-width: 600px) {
  .about__inner {
    padding: 50px;
  }
}
.about__img {
  height: 300px;
}
@media screen and (min-width: 960px) {
  .about__img {
    flex-basis: 50%;
  }
}
.about__img > img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 960px) {
  .about__text {
    margin-left: 20px;
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .about__text {
    margin-left: 0px;
  }
}
.about__p {
  font-weight: 700;
}
@media screen and (min-width: 960px) {
  .about__p {
    text-align: left;
  }
}

@media screen and (min-width: 600px) {
  .works__item {
    flex-basis: 48%;
  }
}
.works__title {
  font-weight: 700;
  margin: 5px 0;
  text-align: center;
}

@keyframes loader {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
@keyframes loaderBack {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes coverSlide {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.1% {
    transform-origin: right;
    transform: scaleX(1);
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
@keyframes imgShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */